<!-- profile.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<style>
    *{
        margin:0;
        padding:0;
    }
    .vImagelogo{
        width: 190px;
        height: 99px;
        background: url("images/v881_21.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 20px;
        left: 16px;
        overflow: hidden;
    }
</style>
<body>
<div class="container">
    <div class="vImagelogo"></div>
</div>


</body>
</html>
